{% extends "base.html" %}

{% block title %}Listado de usuarios{% endblock %}

{% block style %}
.no-usuarios {
    color: red;
}
{% endblock %}

{% block content %}
<h1>Listado de usuarios</h1>

{% for usuario in usuarios %}
    <ul>
        <li><strong>Nombre:</strong> {{ usuario.username }}</li>
        <li><strong>Email:</strong> {{ usuario.email }}</li>
        <li><strong>Rol:</strong> {{ usuario.rol }}</li>
    </ul>

{% empty %}
    <p class="no-usuarios">No existen usuarios</p>
{% endfor %}
{% endblock %}
